{% extends 'bases/base.html' %}

{% load static %}

{% block 'title' %}GymForce - Gerenciar Mensalidades{% endblock%}

{% block 'head' %}
    <link rel="stylesheet" href="{% static '/global/css/global.css' %}">
{% endblock %}

{% block 'body' %}

         {% if messages %}
            {% for message in messages %}       
               <div id="globalMessage" class="alert {{message.tags}} messageAnimation">
                    {% if message.tags == 'alert-success' %}
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% else %}
                        <div>
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% endif %}

                    <div class="spinner-container"></div>
                </div>
            {% endfor %}
        {% endif %}
        
        {% include 'components/filtro/filtro.html' with name="plano" placeholder="Nome do plano" titulo="Gerenciar Mensalidades" %}
        
        {% with '# Plano Valor Status' as list %}
            {% include 'components/tables/table.html' with theadFields=list.split colspan="3" dados=mensalidades model="financeiro" %}
        {% endwith %}
    <script src="{% static '/global/js/global.js' %}"></script>
{% endblock %}