{% extends 'bases/base.html' %}

{% load static %}

{% block 'title' %}GymForce - Gerenciar Mensalidades{% endblock%}

{% block 'head' %}
    <link rel="stylesheet" href="{% static '/global/css/global.css' %}">
{% endblock %}

{% block 'body' %}

    <div class="container">
        <h1 class="fs-3">Gerenciar Mensalidades</h1>

         {% if messages %}
            {% for message in messages %}       
               <div id="globalMessage" class="alert {{message.tags}} messageAnimation">
                    {% if message.tags == 'alert-success' %}
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% else %}
                        <div>
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% endif %}

                    <div class="spinner-container"></div>
                </div>
            {% endfor %}
        {% endif %}
        
        <div class="row mt-4">
                <form action="" class="row">
                    <div class="col-4">
                        <input type="text" name="plano" class="form-control" placeholder="Nome do Plano" aria-label="Nome do Plano">
                    </div>
                    <div class="col-2 d-grid">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </form>
        </div>
        
        <div class="row mt-4">
            <div class="col">
                <table class="table table-striped border shadow-sm rounded align-middle">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome do Plano</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Status</th>
                            <th scope="col" colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for mensalidade in mensalidades %}
                        <tr>
                            <th scope="row">{{mensalidade.id}}</th>
                            <td>{{mensalidade.nome}}</td>
                            <td>R$ {{mensalidade.valor}}</td>
                            <td>{{mensalidade.get_status_display}}</td>
                            <div>
                                <td class="icon-container"><a href="#" class="bg-warning text-white link-underline link-underline-opacity-0"><i class="fa fa-pencil fa-lg" aria-hidden="true" title="Editar"></i></a></td>
                                <td class="icon-container"><a href="#" class="bg-primary text-white link-underline link-underline-opacity-0"><i class="fa fa-info-circle fa-lg" aria-hidden="true" title="Mais informações"></i></a></td>
                                <td class="icon-container">
                                {% if mensalidade.status %}
                                    <a href="/financeiro/alterar_status_mensalidade/{{mensalidade.id}}" 
                                    class="bg-danger 
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-ban fa-lg" 
                                            aria-hidden="true" 
                                            title="Inativar">
                                        </i>
                                    </a>
                                {% else %}
                                    <a href="/financeiro/alterar_status_mensalidade/{{mensalidade.id}}" 
                                    class="bg-success
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-check fa-lg" 
                                            aria-hidden="true" 
                                            title="Ativar">
                                        </i>
                                    </a>
                                {% endif %}
                                </td>
                            </div>
                            {% empty %}
                                <td colspan="5" class="text-center">Nenhuma mensalidade encontrada</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static '/global/js/global.js' %}"></script>

{% endblock %}