{% extends 'bases/base.html' %}

{% load static %}

{% block 'title' %}GymForce - Gerenciar Empresas{% endblock %}

{% block 'head' %}{% endblock %}

{% block 'body' %}
    <div class="container">
        <h1 class="fs-3">Gerenciar Empresas</h1>

         {% if messages %}
            {% for message in messages %}       
               <div id="globalMessage" class="alert {{message.tags}} messageAnimation">
                    {% if message.tags == 'alert-success' %}
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% else %}
                        <div>
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% endif %}

                    <div class="spinner-container"></div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row mt-4">
                <form action="" class="row">
                    <div class="col-4">
                        <input type="text" name="fantasia" class="form-control" placeholder="Nome fantasia" aria-label="Nome fantasia">
                    </div>
                    <div class="col-2 d-grid">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </form>
        </div>
        
        <div class="row mt-4">
            <div class="col">
                <table class="table table-striped border shadow align-middle">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Razão Social</th>
                            <th scope="col">Nome Fantasia</th>
                            <th scope="col">CNPJ</th>
                            <th scope="col">Status</th>
                            <th scope="col" colspan="4"></th>
                        </tr>
                    </thead>
                    <tbody>

                    {% if empresaLen == 0 %}
                            <tr>
                                <td colspan="6" class="text-center">Nenhuma empresa encontrado</td>
                            </tr>
                    {% endif %}

                    {% for empresa in empresas %}

                        <tr>
                            <th scope="row">{{empresa.id}}</th>
                            <td>{{empresa.razaoSocial}}</td>
                            <td>{{empresa.fantasia}}</td>
                            <td>{{empresa.cnpj}}</td>
                             {% if empresa.status %}
                                 <td>Ativo</td>
                            {% else %}
                                 <td>Inativo</td>
                            {% endif %}
                           <div>
                                <td class="icon-container"><a href="#" class="bg-warning text-white link-underline link-underline-opacity-0"><i class="fa fa-pencil fa-lg" aria-hidden="true" title="Editar"></i></a></td>
                                <td class="icon-container"><a href="#" class="bg-primary text-white link-underline link-underline-opacity-0"><i class="fa fa-info-circle fa-lg" aria-hidden="true" title="Mais informações"></i></a></td>
                                <td class="icon-container">
                                {% if empresa.status %}
                                    <a href="/empresas/alterar_status_empresa/{{empresa.id}}" 
                                    class="bg-danger 
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-ban fa-lg" 
                                            aria-hidden="true" 
                                            title="Inativar">
                                        </i>
                                    </a>
                                {% else %}
                                    <a href="/empresas/alterar_status_empresa/{{empresa.id}}" 
                                    class="bg-success
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-check fa-lg" 
                                            aria-hidden="true" 
                                            title="Ativar">
                                        </i>
                                    </a>
                                {% endif %}
                                </td>
                            </div>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static '/global/js/global.js' %}"></script>
{% endblock %}