{% extends 'bases/base.html' %}

{% load static %}

{% block 'title' %}GymForce - Nova Empresa{% endblock %}

{% block 'head' %}{% endblock %}

{% block 'body' %}
        <h1 class="fs-3">Nova Empresa</h1>

        {% if messages %}
            {% for message in messages %}       
               <div id="globalMessage" class="alert {{message.tags}} messageAnimation">
                    {% if message.tags == 'alert-success' %}
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% else %}
                        <div>
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% endif %}

                    <div class="spinner-container"></div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="card shadow mt-4">
            <div class="card-body">
                <form action="{% url 'cadastrarEmpresa' %}" method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <input type="text" name="razaoSocial" class="form-control" placeholder="Razão Social"/>
                        </div>
                        <div class="col-6">
                            <input type="text" name="fantasia" class="form-control" placeholder="Nome Fantasia"/>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <input type="text" name="cnpj" class="form-control" placeholder="CNPJ"/>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
  <script src="{% static '/global/js/global.js' %}"></script>
{% endblock %}