<div class="row mt-4">
    <div class="col">
        <table class="table table-striped border shadow align-middle">
            <thead>
                <tr>
                    {% for hd in theadFields %}
                        <th scope="col">{{hd}}</th>
                    {% endfor %}
                        <th scope="col" colspan={{colspan}}></th>
                </tr>
            </thead>

            <tbody>
            {% for dado in dados %}

                {% if model == 'alunos' %}
                    <tr>
                        <th scope="row">{{dado.id}}</th>
                        <td>{{dado.nome}}</td>
                        <td>{{dado.email}}</td>
                        <td>{{dado.cpf}}</td>
                        <td>{{dado.mensalidade}}</td>
                        <td>{{dado.get_status_display}}</td>
                        <div>
                            <td class="icon-container"><a href="/alunos/gerenciar/treinos/{{aluno.id}}" class="bg-info text-white link-underline link-underline-opacity-0"><i class="fa fa-bolt fa-lg" aria-hidden="true" title="Treinos"></i></a></td>
                            <td class="icon-container"><a href="#" class="bg-warning text-white link-underline link-underline-opacity-0"><i class="fa fa-pencil fa-lg" aria-hidden="true" title="Editar"></i></a></td>
                            <td class="icon-container"><a href="#" class="bg-primary text-white link-underline link-underline-opacity-0"><i class="fa fa-info-circle fa-lg" aria-hidden="true" title="Mais informações"></i></a></td>
                            <td class="icon-container">
                            {% if dado.status %}
                                <a href="/alunos/alterar_status_aluno/{{dado.id}}" 
                                class="bg-danger 
                                text-white 
                                link-underline 
                                link-underline-opacity-0">
                                    <i class="fa fa-ban fa-lg" 
                                        aria-hidden="true" 
                                        title="Inativar">
                                    </i>
                                </a>
                            {% else %}
                                <a href="/alunos/alterar_status_aluno/{{dado.id}}" 
                                class="bg-success
                                text-white 
                                link-underline 
                                link-underline-opacity-0">
                                    <i class="fa fa-check fa-lg" 
                                        aria-hidden="true" 
                                        title="Ativar">
                                    </i>
                                </a>
                            {% endif %}
                            </td>
                        </div>
                    </tr>
                {% elif model == 'empresas' %}
                     <tr>
                        <th scope="row">{{dado.id}}</th>
                        <td>{{dado.razaoSocial}}</td>
                        <td>{{dado.fantasia}}</td>
                        <td>{{dado.cnpj}}</td>
                        <td>{{dado.get_status_display}}</td>
                        <div>
                            <td class="icon-container"><a href="#" class="bg-warning text-white link-underline link-underline-opacity-0"><i class="fa fa-pencil fa-lg" aria-hidden="true" title="Editar"></i></a></td>
                            <td class="icon-container"><a href="#" class="bg-primary text-white link-underline link-underline-opacity-0"><i class="fa fa-info-circle fa-lg" aria-hidden="true" title="Mais informações"></i></a></td>
                            <td class="icon-container">
                            {% if dado.status %}
                                <a href="/empresas/alterar_status_empresa/{{dado.id}}" 
                                class="bg-danger 
                                text-white 
                                link-underline 
                                link-underline-opacity-0">
                                    <i class="fa fa-ban fa-lg" 
                                        aria-hidden="true" 
                                        title="Inativar">
                                    </i>
                                </a>
                            {% else %}
                                <a href="/empresas/alterar_status_empresa/{{dado.id}}" 
                                class="bg-success
                                text-white 
                                link-underline 
                                link-underline-opacity-0">
                                    <i class="fa fa-check fa-lg" 
                                        aria-hidden="true" 
                                        title="Ativar">
                                    </i>
                                </a>
                            {% endif %}
                            </td>
                        </div>
                    </tr>

                {% elif model == 'financeiro' %}
                     <tr>
                        <th scope="row">{{dado.id}}</th>
                        <td>{{dado.nome}}</td>
                        <td>R$ {{dado.valor|floatformat:2}}</td>
                        <td>{{dado.get_status_display}}</td>
                            <div>
                                <td class="icon-container"><a href="#" class="bg-warning text-white link-underline link-underline-opacity-0"><i class="fa fa-pencil fa-lg" aria-hidden="true" title="Editar"></i></a></td>
                                <td class="icon-container"><a href="#" class="bg-primary text-white link-underline link-underline-opacity-0"><i class="fa fa-info-circle fa-lg" aria-hidden="true" title="Mais informações"></i></a></td>
                                <td class="icon-container">
                                {% if dado.status %}
                                    <a href="/financeiro/alterar_status_mensalidade/{{dado.id}}" 
                                    class="bg-danger 
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-ban fa-lg" 
                                            aria-hidden="true" 
                                            title="Inativar">
                                        </i>
                                    </a>
                                {% else %}
                                    <a href="/financeiro/alterar_status_mensalidade/{{dado.id}}" 
                                    class="bg-success
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-check fa-lg" 
                                            aria-hidden="true" 
                                            title="Ativar">
                                        </i>
                                    </a>
                                {% endif %}
                                </td>
                            </div>
                        </tr>
                        
                {% elif model == 'professores' %}
                        <tr>
                            <th scope="row">{{dado.id}}</th>
                            <td>{{dado.nome}}</td>
                            <td>{{dado.email}}</td>
                            <td>{{dado.cpf}}</td>
                            <td>{{dado.registro}}</td>
                            <td>{{dado.get_status_display}}</td>
                            <div>
                                <td class="icon-container"><a href="#" class="bg-warning text-white link-underline link-underline-opacity-0"><i class="fa fa-pencil fa-lg" aria-hidden="true" title="Editar"></i></a></td>
                                <td class="icon-container"><a href="#" class="bg-primary text-white link-underline link-underline-opacity-0"><i class="fa fa-info-circle fa-lg" aria-hidden="true" title="Mais informações"></i></a></td>
                                <td class="icon-container">
                                {% if dado.status %}
                                    <a href="/professores/alterar_status_professor/{{dado.id}}" 
                                    class="bg-danger 
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-ban fa-lg" 
                                            aria-hidden="true" 
                                            title="Inativar">
                                        </i>
                                    </a>
                                {% else %}
                                    <a href="/professores/alterar_status_professor/{{dado.id}}" 
                                    class="bg-success
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-check fa-lg" 
                                            aria-hidden="true" 
                                            title="Ativar">
                                        </i>
                                    </a>
                                {% endif %}
                                </td>
                        </tr>
                {% elif model == 'treinos' %}
                     <tr>
                            <th scope="row">{{dado.id}}</th>
                            <td>{{dado.nome}}</td>
                            <td>{{dado.get_status_display}}</td>
                             <div>
                                <td class="icon-container"><a href="#" class="bg-warning text-white link-underline link-underline-opacity-0"><i class="fa fa-pencil fa-lg" aria-hidden="true" title="Editar"></i></a></td>
                                <td class="icon-container"><a href="#" class="bg-primary text-white link-underline link-underline-opacity-0"><i class="fa fa-info-circle fa-lg" aria-hidden="true" title="Mais informações"></i></a></td>
                                <td class="icon-container">
                                {% if dado.status %}
                                    <a href="/treinos/alterar_status_treino/{{dado.id}}" 
                                    class="bg-danger 
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-ban fa-lg" 
                                            aria-hidden="true" 
                                            title="Inativar">
                                        </i>
                                    </a>
                                {% else %}
                                    <a href="/treinos/alterar_status_treino/{{dado.id}}" 
                                    class="bg-success
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-check fa-lg" 
                                            aria-hidden="true" 
                                            title="Ativar">
                                        </i>
                                    </a>
                                {% endif %}
                                </td>
                            </div>
                        </tr>
                {% elif model == "usuarios" %}
                    <tr>
                            <th scope="row">{{dado.id}}</th>
                            <td>{{dado.username}}</td>
                            <td>{{dado.email}}</td>
                            <td>{{dado.cpf}}</td>
                            <td>{{dado.get_is_staff_display}}</td>
                            <td>{{dado.get_is_active_display}}</td>
                            <div>
                                <td class="icon-container"><a href="#" class="bg-warning text-white link-underline link-underline-opacity-0"><i class="fa fa-pencil fa-lg" aria-hidden="true" title="Editar"></i></a></td>
                                <td class="icon-container"><a href="#" class="bg-primary text-white link-underline link-underline-opacity-0"><i class="fa fa-info-circle fa-lg" aria-hidden="true" title="Mais informações"></i></a></td>
                                <td class="icon-container">
                                {% if dado.is_active %}
                                    <a href="/usuario/alterar_status_usuario/{{dado.id}}" 
                                    class="bg-danger 
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-ban fa-lg" 
                                            aria-hidden="true" 
                                            title="Inativar">
                                        </i>
                                    </a>
                                {% else %}
                                    <a href="/usuario/alterar_status_usuario/{{dado.id}}" 
                                    class="bg-success
                                    text-white 
                                    link-underline 
                                    link-underline-opacity-0">
                                        <i class="fa fa-check fa-lg" 
                                            aria-hidden="true" 
                                            title="Ativar">
                                        </i>
                                    </a>
                                {% endif %}
                                </td>
                            </div>
                        </tr>
                {% endif %}
                        {% empty %}
                            <td colspan="7" class="text-center">Nenhum dado encontrado</td>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>