{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"/>
        <title>{% block 'title'%}{% endblock %}</title>
        {% block 'head'%}{% endblock %}
    </head>
    <body>
            <nav class="navbar bg-primary navbar-expand-lg mb-4" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">GymForce</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Dashboard</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Alunos
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'novoAluno' %}">Novo aluno</a></li>
                                    <li><a class="dropdown-item" href="{% url 'gerenciarAluno' %}">Gerenciar alunos</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'novoTreino' %}">Novo Treino</a></li>
                                    <li><a class="dropdown-item" href="{% url 'gerenciarTreinos' %}">Gerenciar Treinos</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Professores
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'novoProfessor' %}">Novo professor</a></li>
                                    <li><a class="dropdown-item" href="{% url 'gerenciarProfessores' %}">Gerenciar professores</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Financeiro
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Novo plano de mensalidade</a></li>
                                    <li><a class="dropdown-item" href="#">Gerenciar mensalidades</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Relatórios
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Relatório de alunos</a></li>
                                    <li><a class="dropdown-item" href="#">Relatório de professores</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Empresa
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Dados da empresa</a></li>
                                    <li><a class="dropdown-item" href="#">Gerenciar empresa</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'novoUsuario' %}">Novo usuário</a></li>
                                    <li><a class="dropdown-item" href="{% url 'gerenciarUsuario' %}">Gerenciar usuários</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% block 'body' %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>