{% extends 'bases/base.html' %}

{% load static %}

{% block 'title' %}GymForce - Gerenciar Alunos{% endblock %}

{% block 'head' %}{% endblock %}

{% block 'body' %}
     {% if messages %}
            {% for message in messages %}       
               <div id="globalMessage" class="alert {{message.tags}} messageAnimation">
                    {% if message.tags == 'alert-success' %}
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% else %}
                        <div>
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% endif %}

                    <div class="spinner-container"></div>
                </div>
            {% endfor %}
        {% endif %}

        {% include 'components/filtro/filtro.html' with name="name" placeholder="Nome completo" titulo="Gerenciar Alunos" %}

        {% with '# Nome Email CPF Mensalidade Status' as list %}
            {% include 'components/tables/table.html' with theadFields=list.split colspan="4" dados=alunos icon_treino=True model='alunos' %}
        {% endwith %}
    
    <script src="{% static '/global/js/global.js' %}"></script>
{% endblock %}