{% extends 'bases/base.html' %}

{% load static %}

{% block 'title' %}GymForce - Novo Aluno{% endblock %}

{% block 'head' %}{% endblock %}

{% block 'body' %}
    <div class="container mb-4">
        <h1 class="fs-3">Novo aluno</h1>

         {% if messages %}
            {% for message in messages %}       
               <div id="globalMessage" class="alert {{message.tags}} messageAnimation">
                    {% if message.tags == 'alert-success' %}
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% else %}
                        <div>
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% endif %}

                    <div class="spinner-container"></div>
                </div>
            {% endfor %}
        {% endif %}

         <div class="card">
            <div class="card-body">
                <form action="{% url 'cadastrarAluno' %}" method="POST"> {% csrf_token %}

                    <div class="row mb-2 mt-2">
                        <div class="col">
                            <h3 class="fs-5">Informações Gerais</h3>
                        </div>
                    </div>


                    <div class="row mb-4">
                        <div class="col">
                            <input type="text" name="nome" class="form-control" placeholder="Nome Completo" aria-label="Nome Completo">
                        </div>
                        <div class="col">
                            <input type="text" name="rg" class="form-control" placeholder="RG" aria-label="RG">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <input type="date" name="dt_nasc" class="form-control" placeholder="Data de nascimento" aria-label="Data de nascimento">
                        </div>
                        <div class="col">
                            <input type="text" name="cpf" class="form-control" placeholder="CPF" aria-label="CPF">
                        </div>
                    </div>

                    <hr>

                    <div class="row mb-2 mt-2">
                        <div class="col">
                            <h3 class="fs-5 bold">Contatos</h3>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <input type="number" name="telefone" class="form-control" placeholder="Telefone" aria-label="Telefone">
                        </div>
                        <div class="col">
                            <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email">
                        </div>
                    </div>

                    <hr>

                    <div class="row mb-2 mt-2">
                        <div class="col">
                            <h3 class="fs-5 bold">Financeiro</h3>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <select class="form-select" name="mensalidade">
                                <option value="" selected>Selecione o plano de mensalidade</option>
                            {% for mensalidade in mensalidades %}
                                <option value="{{mensalidade.id}}">{{mensalidade.nome}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <hr>

                    <div class="row mt-4">
                        <div class="col-3 d-grid">
                            <button type="submit" class="btn btn-outline-primary">Cadastrar Aluno</button>
                        </div>
                    </div>

                </form>
            </div>
        </div> 
    </div>
    <script src="{% static '/global/js/global.js' %}"></script>
{% endblock %}