{% extends 'bases/base.html' %}

{% load static %}

{% block 'title' %}GymForce - Novo Aluno{% endblock %}

{% block 'head' %}{% endblock %}

{% block 'body' %}
        <h1 class="fs-3">{% if not edit %}Novo aluno{% else %}Editar aluno{% endif %}</h1>

         {% if messages %}
            {% for message in messages %}       
               <div id="globalMessage" class="alert {{message.tags}} messageAnimation">
                    {% if message.tags == 'alert-success' %}
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% else %}
                        <div>
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            {{message}}
                        </div>
                    {% endif %}

                    <div class="spinner-container"></div>
                </div>
            {% endfor %}
        {% endif %}

         <div class="card shadow rounded">
            <div class="card-body">
                <form action="{% if not edit %}{% url 'cadastrarAluno' %}{% else %}{% url 'editarAluno' aluno.id %}{% endif %}" method="POST"> {% csrf_token %}

                    <div class="row mb-2 mt-2">
                        <div class="col">
                            <h3 class="fs-5">Informações Gerais</h3>
                        </div>
                    </div>


                    <div class="row mb-4">
                        <div class="col">
                            <label for="nome" class="mb-1">Nome</label>
                            <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome Completo" aria-label="Nome Completo" value="{% if edit %}{{aluno.nome}}{% endif %}" required/>
                        </div>
                        <div class="col">
                            <label for="rg" class="mb-1">RG</label>
                            <input type="text" id="rg" name="rg" class="form-control" placeholder="Somente numeros" aria-label="RG" value="{% if edit %}{{aluno.rg}}{% endif %}" required/>
                        </div>
                    </div>

                    <div class="row mb-4">
                    {% if not edit %}
                        <div class="col">
                            <label for="dt_nasc" class="mb-1">Data de nascimento</label>
                            <input type="date" id="dt_nasc" name="dt_nasc" class="form-control" placeholder="Data de nascimento" aria-label="Data de nascimento" value="{% if edit %}{{aluno.data_nascimento}}{% endif %}" required/>
                        </div>
                    {% endif %}
                        <div class="col">
                            <label for="cpf" class="mb-1">CPF</label>
                            <input type="text" id="cpf" name="cpf" class="form-control" placeholder="Somente numeros" aria-label="CPF" value="{% if edit %}{{aluno.cpf}}{% endif %}" required/>
                        </div>
                    </div>

                    <hr>

                    <div class="row mb-2 mt-2">
                        <div class="col">
                            <h3 class="fs-5 bold">Contatos</h3>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <label for="telefone" class="mb-1">Telefone</label>
                            <input type="number" name="telefone" class="form-control" placeholder="Somente numeros" aria-label="Telefone" value="{% if edit %}{{aluno.telefone}}{% endif %}" required/>
                        </div>
                        <div class="col">
                            <label for="email" class="mb-1">E-mail</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email" value="{% if edit %}{{aluno.email}}{% endif %}" required/>
                        </div>
                    </div>

                    <hr>

                    <div class="row mb-2 mt-2">
                        <div class="col">
                            <h3 class="fs-5 bold">Financeiro</h3>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <label for="mensalidade" class="mb-1">Mensalidade</label>
                            <select class="form-select" id="mensalidade" name="mensalidade" required>
                                {% if not edit %}
                                    <option value="" selected>Selecione o plano de mensalidade</option>
                                {% endif %}
                            {% for mensalidade in mensalidades %}
                                <option value="{{mensalidade.id}}" {% if edit and aluno.mensalidade.id == mensalidade.id %} selected {% endif %}>{{mensalidade.nome}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-3 d-grid">
                            <button type="submit" class="btn btn-outline-primary">{% if not edit %}Cadastrar Aluno{% else %}Salvar{% endif %}</button>
                        </div>
                    </div>

                </form>
            </div>
        </div> 
    <script src="{% static '/global/js/global.js' %}"></script>
{% endblock %}