{% extends 'bases/base.html' %}

{% load static %}

{% block 'title' %}GymForce - Gerenciar usuários{% endblock %}

{% block 'head' %}{% endblock %}

{% block 'body' %}

    <div class="container">
        <h1 class="fs-3">Gerenciar Usuários</h1>


        {% if messages %}
            {% for message in messages%}
                <div class="alert {{message.tags}}">{{message}}</div>
            {% endfor %}
        {% endif %}

        <div class="row mt-4">
                <form action="" class="row">
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Nome Completo">
                    </div>
                    <div class="col-2 d-grid">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </form>
        </div>
        
        <div class="row mt-4">
            <div class="col">
                <table class="table table table-striped border shadow-sm rounded">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Acesso</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if usuariosLen == 0 %}
                        <tr class="text-center">
                            <td colspan="7">Nenhum usuario cadastrado</td>
                        </tr>
                    {% endif %}

                    {% for usuario in usuarios %}
                        <tr>
                            <th scope="row">{{usuario.id}}</th>
                            <td>{{usuario.nome}}</td>
                            <td>{{usuario.email}}</td>
                            <td>{{usuario.cpf}}</td>
                            {% if usuario.nivel_administrativo == '2' %}
                                <td>Administrador</td>
                            {% else %}
                                <td>Usuario</td>
                            {% endif %}

                            {% if usuario.status %}
                                <td>Ativo</td>
                            {% else %}
                                <td>Inativo</td>
                            {% endif %}
                            <div>
                                <td><a href="#">Editar</a></td>
                                <td><a href="#">Detalhes</a></td>
                                <td><a href="/usuario/deletar_usuario/{{usuario.id}}">Inativar</a></td>
                            </div>
                    {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}